@page "/messaging"
<h1>Messaging</h1>
<div>
    <span class="text-nowrap">
Enter a message to send.
    </span>
<br/>
<textarea @bind="CurrentValue" @bind:event="oninput" cols="40" rows="5" wrap="soft" >

</textarea>
</div>
@code {
  private string CurrentValue { get; set; }
}
